In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [23]:
# https://www.statsmodels.org/stable/index.html
import statsmodels.api as sm

In [24]:
import warnings
warnings.filterwarnings("ignore")

In [25]:
from functools import partial

In [29]:
import os
print("Current Working Directory:", os.getcwd())

Current Working Directory: /Users/zihansu/github/FinalProject-Group1/Employee- Salary- Analysis

In [30]:
salaryDF= pd.read_csv("Employee.csv")

In [31]:
salaryDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6899 entries, 0 to 6898
Data columns (total 32 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   EmployeeID                       6899 non-null   object
 1   Attrition                        6899 non-null   int64
 2   Gender                           6899 non-null   object
 3   Age                              6899 non-null   int64
 4   Department                       6899 non-null   object
 5   BusinessTravel                   6899 non-null   object
 6   MaritalStatus                    6899 non-null   object
 7   DistanceFromHome (KM)            6899 non-null   int64
 8   Salary                           6899 non-null   int64
 9   StockOptionLevel                 6899 non-null   int64
 10  OverTime                         6899 non-null   object
 11  YearsAtCompany                   6899 non-null   int64
 12  YearsInMostRecentRole            6899 non-null   int64
 13  YearsSinceLastPromotion          6899 non-null   int64
 14  YearsWithCurrManager             6899 non-null   int64
 15  Ethnicity                        6899 non-null   object
 16  EducationLevel                   6899 non-null   object
 17  EnvironmentSatisfaction          6899 non-null   float64
 18  JobSatisfaction                  6899 non-null   float64
 19  RelationshipSatisfaction         6899 non-null   float64
 20  WorkLifeBalance                  6899 non-null   float64
 21  TrainingOpportunitiesWithinYear  6899 non-null   float64
 22  TrainingOpportunitiesTaken       6899 non-null   float64
 23  SelfRating                       6899 non-null   float64
 24  ManagerRating                    6899 non-null   float64
 25  EnvironmentSatisfaction_Label    6899 non-null   object
 26  JobSatisfaction_Label            6899 non-null   object
 27  RelationshipSatisfaction_Label   6899 non-null   object
 28  WorkLifeBalance_Label            6899 non-null   object
 29  ManagerRating_Label              6899 non-null   object
 30  SelfRating_Label                 6899 non-null   object
 31  TrainingUtilizationRate          6899 non-null   float64
dtypes: float64(9), int64(9), object(14)
memory usage: 1.7+ MB

In [32]:
salaryDf.head()

,EmployeeID,Attrition,Gender,Age,Department,BusinessTravel,MaritalStatus,DistanceFromHome (KM),Salary,StockOptionLevel,...,TrainingOpportunitiesTaken,SelfRating,ManagerRating,EnvironmentSatisfaction_Label,JobSatisfaction_Label,RelationshipSatisfaction_Label,WorkLifeBalance_Label,ManagerRating_Label,SelfRating_Label,TrainingUtilizationRate
0,3012-1A41,0,Female,30,Sales,Some Travel,Divorced,27,102059,1,...,0.0,3.0,3.0,Neutral,Neutral,Dissatisfied,Satisfied,Meets Expectation,Meets Expectation,0.000000
1,3012-1A41,0,Female,30,Sales,Some Travel,Divorced,27,102059,1,...,1.0,3.0,2.0,Satisfied,Satisfied,Very Satisfied,Dissatisfied,Needs Improvement,Meets Expectation,0.333332
2,3012-1A41,0,Female,30,Sales,Some Travel,Divorced,27,102059,1,...,0.0,5.0,5.0,Very Satisfied,Very Satisfied,Satisfied,Satisfied,Above and Beyond,Above and Beyond,0.000000
3,3012-1A41,0,Female,30,Sales,Some Travel,Divorced,27,102059,1,...,1.0,5.0,4.0,Very Dissatisfied,Neutral,Dissatisfied,Neutral,Exceeds Expectation,Above and Beyond,0.333332
4,3012-1A41,0,Female,30,Sales,Some Travel,Divorced,27,102059,1,...,0.0,4.0,3.0,Neutral,Satisfied,Dissatisfied,Neutral,Meets Expectation,Exceeds Expectation,0.000000

In [36]:
# Select a minimal set of features that are most likely to influence Salary
columns_to_keep = [
    'Salary',
    'Age',
    'StockOptionLevel',
    'YearsAtCompany',
    'EducationLevel',
    'EnvironmentSatisfaction',
    'TrainingOpportunitiesWithinYear',
    'TrainingOpportunitiesTaken',
    'SelfRating',
    'ManagerRating'
]

salaryDf_model = salaryDf[columns_to_keep].copy()
salaryDf_model.head()

,Salary,Age,StockOptionLevel,YearsAtCompany,EducationLevel,EnvironmentSatisfaction,TrainingOpportunitiesWithinYear,TrainingOpportunitiesTaken,SelfRating,ManagerRating
0,102059,30,1,10,Doctorate,3.0,3.0,0.0,3.0,3.0
1,102059,30,1,10,Doctorate,4.0,3.0,1.0,3.0,2.0
2,102059,30,1,10,Doctorate,5.0,3.0,0.0,5.0,5.0
3,102059,30,1,10,Doctorate,1.0,3.0,1.0,5.0,4.0
4,102059,30,1,10,Doctorate,3.0,1.0,0.0,4.0,3.0

In [37]:
education_mapping = {
    "No Formal Qualifications": 1,
    "High School": 2,
    "Bachelors": 3,
    "Masters": 4,
    "Doctorate": 5
}

In [40]:
salaryDf_model["EducationLevel"] = salaryDf_model["EducationLevel"].replace(education_mapping)
salaryDf_model.head()

,Salary,Age,StockOptionLevel,YearsAtCompany,EducationLevel,EnvironmentSatisfaction,TrainingOpportunitiesWithinYear,TrainingOpportunitiesTaken,SelfRating,ManagerRating
0,102059,30,1,10,5,3.0,3.0,0.0,3.0,3.0
1,102059,30,1,10,5,4.0,3.0,1.0,3.0,2.0
2,102059,30,1,10,5,5.0,3.0,0.0,5.0,5.0
3,102059,30,1,10,5,1.0,3.0,1.0,5.0,4.0
4,102059,30,1,10,5,3.0,1.0,0.0,4.0,3.0

In [45]:
# Save the selected feature DataFrame to a new CSV file
salaryDf_model.to_csv("../salary_cleaned.csv", index=False)